//  Variables
$color_Primary: rgb(57, 144, 195);
$color_Primary_two: rgba(57, 144, 195, 0.7);
$color_background: rgba(255, 255, 255, 1);
$color_button: #ffffff;
// Breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;
